body {
  margin: 0rem 4rem 4rem 0rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c5f4e0;
}

h1 {
}
h2 {
}

ul {
  text-align: center;
  font-size: large;
}

li {
  text-align: left;
}

img {
  float: right;
  border-radius: 2rem;
}

.intro {
  background-color: #8f8389;
  color: #c5f4e0;
  box-shadow: 2px 2px 4px 4px black;
  border: 1px;
  border-radius: 1rem;
  width: 80%;
  margin: auto;
  padding: 2%;
  text-shadow: 2px 2px 20px black;
}

.owner_product {
  max-width: 25%;
  height: auto;
  padding: 1rem;
  margin-left: 3rem;
  margin-right: 0rem;
}

.content {
  font-size: large;
  outline: #e6efe9;
  color: #8f8389;
}

.listContent {
  background-color: #8f8389;
  color: #c5f4e0;
  box-shadow: 2px 2px 3px 3px black;
  width: 50%;
  padding: 1rem;
}
